
    

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/shopProd">Shop</a>
                        <a href="/viewCart">Cart</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad ">
        <div class="container">
                                 {{#if productr}} 
                        
                                  <div class="col-lg-4">
                                   <div class="discount-coupon">
                                       <h6 class=" font-weight-bold mt-2" style="color: #eb4b07;">OFFERS & COUPONS</h6>
                                       {{#each coupon}}
                                       <div class="col-lg-12">
                                       <p><span class="text-primary font-weight-bold">{{this.couponCode}}</span>-{{this.discount}}% discount upto ₹{{this.max}} on purchase above ₹</p>
                                       </div>
                                       {{/each}}
                                          <form id="coupon-check2" action="" class="coupon-form border border-danger" style="border-color: #eb4b07;">
                                           <input type="text" name="couponName" placeholder="Enter your coupon here">
                                          <button  id="apply" name="apply" type="submit"  style="color: #eb4b07; ">Apply</button>
                                         
                                        
                                       </form>
                                        <button  id="remove" name="remove" type="submit" class="site-btn coupon-btn" style="color: #eb4b07;display:none">Remove</button>
                                     </div>
                                     </div>
                                     
                                     {{/if}}

            <form id="check-out" class="checkout-form" >
                <div class="row">
                    <div class="col-lg-6">
                        {{!-- <div class="checkout-content">
                            {{#if user1}}
                            <a href="#" class="content-btn bg-success text-white text-uppercase font-weight-bold">{{user1.username}}</a>
                            {{else}}
                            <a href="/loggin" class="content-btn bg-success text-white">Click Here To Login</a>
                            {{/if}}
                        </div> --}}

                        <a class="btn btn-primary mb-4 text-white" data-toggle="modal" data-target="#modalRegisterForm">Add a New Address</a>
                        
                        <h5 class="mb-2">Select Your Address</h5>

                        <div class="row">


                              
                              {{#each address}}


                               <div class="card w-75 mb-2 border-primary" style="background-color:rgb(228, 243, 211)">
                               <div class="card-body ">
                                <h5 class="card-title "></h5>
                                 <input type="radio" name="radio" style="width: 20px;" class="m-0 d-flex" value="{{this.address.addId}}" checked>
                                  <div class="d-flex">
                                  <a class="btn btn-warning ml-auto" data-toggle="modal" data-target="#addressEdit{{this.address.addId}}">Edit</a>
                                  </div>
                                 <h6 class="card-text text-uppercase" style="color: black ;" id="text1">Name :<span class="text-success font-weight-bold">{{this.address.name}},</span></h6>
                                 <span style="color: black;">Address : </span><h6 class="text-success font-weight-bold">{{this.address.house}},{{this.address.street}},</h6>
                                 <h6 class="text-success font-weight-bold">{{this.address.town}},{{this.address.state}},</h6>
                                 <h6 class="text-success font-weight-bold">{{this.address.zip}}</h6><br><hr>
                                  <h6 class="text-dark">Mobile :<span class="text-success font-weight-bold">{{this.address.mobile}}</span>,</h6>
                                 <h6 class="text-dark">E-mail : <span class="text-success font-weight-bold">{{this.address.email}}</span></h6>

                                </div>
                                
                            </div>
                               {{/each}}
                              
                       <input type="text" name="userId" value="{{user1._id}}" hidden>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        
                        <div class="place-order border border-success">
                            
                            <div class="order-total">
                              <h4 class="text-center text-white text-uppercase bg-secondary p-3">Your Order</h4>
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    {{#if productr}}
                                    <li class="fw-normal">{{productr.prodName}} x {{this.quantity}} <span>₹{{productr.prodSellPrice}}</span></li>
                                    
                                    <li class="fw-normal text-danger">Discount:<span>₹{{discountt}}</span></li>
                                    <li class="fw-normal">Subtotal <span>₹{{totall}}</span></li>
                                    <li class="total-price text-success">Grand Total <span class="text-success" style="font-size: 20px;">₹{{totall}}</span></li>
                                    {{else}}
                                    
                                    {{#each product}}
                                    <li class="fw-normal">{{this.products.prodName}} x {{this.quantity}} <span><del>₹{{this.totalMRP}}</del></span> <span>&nbsp; &nbsp;</span><span class="text-success">₹{{this.total}}</span></li>
                                    {{/each}}
                                    <hr>
                                    <li class="fw-normal text-primary">Original Price : <span class="text-primary">₹{{totalMRP}}</span></li>
                                    <li class="fw-normal text-primary">Offer Price :<span class="text-primary">₹{{cartTotal}}</span></li>
                                     <li class="fw-normal text-danger">Discount:<span>- ₹{{discount}}</span></li> 
                                    <li class="fw-normal">Subtotal <span>₹{{total}}</span></li>
                                    <li class="total-price text-success">Grand Total <span class="text-success" style="font-size: 20px;">₹{{total}}</span></li>
                                    {{/if}}
                                </ul>
                            <h4 class="text-center text-white text-uppercase bg-secondary p-3">CHOOSE YOUR PAYMENT METHOD</h4>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check" class="font-weight-bold">
                                            Cash On Delivery
                                            <input type="radio"  id="pc-check" name="payment-method" value="COD" class="bg-success">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal" class="font-weight-bold">
                                            Paypal
                                            <input type="radio" id="pc-paypal" name="payment-method" value="Paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-razorpay" class="font-weight-bold">
                                            Razorpay
                                            <input type="radio" id="pc-razorpay" name="payment-method" value="Razorpay" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-wallet" class="font-weight-bold">
                                            Wallet
                                            <input type="radio" id="pc-wallet" name="payment-method" value="Wallet" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>





                                <div class="order-btn">
                                    <button type="submit" class="btn btn-success ">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
    {{!-- <-------modal---------> --}}

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3" style="background:rgba(250, 255, 120, 0.789)">

        <form action="/add-address/{{user1._id}}" method="post">
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Full Name*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="name" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Mobile Number*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="mobile" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Pincode*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="zip" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Locality</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="locality" >
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">House Name/Number*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="house" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Street Name*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="street" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">City/Town*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="town" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">State*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="state" required>
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">E-mail*</label>
          <input type="email" id="orangeForm-name" class="form-control validate" name="email" required>
          
          
        </div>
        

      </div>
      <div class="modal-footer d-flex justify-content-center">
        
        <button type="submit" class="btn btn-success">Save & Proceed</button>
        <a href="/check-out" class="btn btn-secondary">Cancel</a>
       </form>

      </div>
    </div>
  </div>
</div>

{{!-- <====================edit ddress modal================> --}}

{{#each address}}
<div class="modal fade" id="addressEdit{{this.address.addId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">EDIT Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-2 ">

        
       
        <form action="/edit-address-chkout?id={{this.address.addId}}"  method="post">
        <h2 class="text-success">ADDRESS</h2>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Full Name*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="name" value="{{this.address.name}}">
          
        </div>
        <div class="md-form mb-3 ">
          <label data-error="wrong" data-success="right" for="orangeForm-name">House</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="house" value="{{this.address.house}}">
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Street Name</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="street" value="{{this.address.street}}">
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Locality</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="locality" value="{{this.address.locality}}"  >
          
        </div>
        
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">City/Town*</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="town" value="{{this.address.town}}">
          
        </div>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">State</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="state" value="{{this.address.state}}">
        </div>

        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Pincode</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="zip" value="{{this.address.zip}}">
        </div>

        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">E-mail</label>
          <input type="email" id="orangeForm-name" class="form-control validate" name="email" value="{{this.address.email}}">
        </div>

        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Mobile No.</label>
          <input type="text" id="orangeForm-name" class="form-control validate" name="mobile" value="{{this.address.mobile}}">
        </div>


        </div>
         <div class="modal-footer d-flex justify-content-center">
        
        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="/profile" class="btn btn-secondary">Cancel</a>
       </div>
       </form>
        <hr>
             

      

      </div>
    </div>
  </div>
</div>
{{/each}}


{{!-- <======================edit modal end====================> --}}

<script>
   
    $("#check-out").submit((e)=>{
      
        e.preventDefault()
        $.ajax({
           url: '/place-order',
           method:'post',
           data:$('#check-out').serialize(),
           success:(response)=>{
            //alert(response)
            if(response.codSuccess){
                location.href='/orderdetails' 
            }else if(response.walletSuccess){
              location.href='/orderdetails'
            }
            else if(response.razor){
               razorpayPayment(response)
 
            }else if(response.paypal){
            location.replace(response.linkto)
            }

           }
        })
    })

    function razorpayPayment(order){
      var options = {
    "key": "rzp_test_khNCczWUSpMkAN", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Frello",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        //alert(response.razorpay_payment_id);
        //alert(response.razorpay_order_id);
        //alert(response.razorpay_signature)

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

function verifyPayment(payment,order){
  $.ajax({
    url:'/verify-payment',
    data:{
      payment,
      order
    },
    method:'post',
    success:(response)=>{
      if(response.status){
        location.href= '/orderdetails'
      }else{
        alert("payment failed")
      }

    }
  })
}


</script>
<script>


let entry=0
$('#coupon-check2').submit((e)=>{
    e.preventDefault()
    
                $.ajax({
                    url:'/coupon-check2',
                    method:'post',
                    data: $('#coupon-check2').serialize(),
                    success:(response)=>{
                        if(entry==0){
                        if(response){
                            console.log(response,"response")
                           
                           

                           Swal.fire("you saved ₹"+response.discount,"Coupon Applied Successfully", "success")
                           location.reload()
                           
                          entry++
                          
                        }
                        }else{
                             Swal.fire("Ofer can be applied Only ONCE","sorry","failed")
                           
                           
                        }
                    }

                    
                })
    
})
</script>
