<!DOCTYPE html>
<html lang="en">



<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-warning"><i class="fa fa-user-edit me-2"></i>FRELLO</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-120">
                    <a href="/admin/dash" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/userMan" class="nav-item nav-link"><i class="fa fa-table "></i>User Management</a>
                     <a href="/admin/productMan" class="nav-item nav-link"><i class="fa fa-table"></i>Product </a>
                     <a href="/admin/CatMan" class="nav-item nav-link"><i class="fa fa-table"></i>Category</a>
                     <a href="/admin/orderMan" class="nav-item nav-link"><i class="fa fa-table"></i>Orders</a>
                      <a href="/admin/reports" class="nav-item nav-link"><i class="fa fa-table"></i>Reports</a>
                   
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Table Start -->
            
                    
                    <div class="col-12">
                        <div class="bg-black rounded h-100 p-4">
                           
                            <a href="/admin/addcoupon" class="btn btn-success mb-3" role="button">ADD NEW COUPON +</a>
                             <h6 class="mb-4">COUPONS LIST</h6>
                             
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">SNo.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Expiry Date</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Max Discount upto</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Options</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {{#each coupons}}
                                        <tr>
                                            <th class="create_index"></th>
                                            <td>{{this.couponCode}}</td>
                                             <td>{{this.date}}</td>
                                            <td>{{this.discount}}</td>
                                            <td>{{this.max}}</td>
                                            <td>{{this.description}}</td>
                                            
                                             <td>
                                             <a href="/admin/delete-coupon/{{this._id}}" class="ms-3" title="Delete Coupon" role="button"><span class="bi bi-trash-fill ms-3"></span></a></td>
                                             
                                        </tr>  

                                        {{/each}}
                                    </tbody>
                                </table>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

           

            
       
        <!-- Content End -->
        

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

 <script>
   var divs = document.querySelectorAll('.create_index'); for (var i = 0; i <
    divs.length; ++i) { divs[i].innerHTML = i + 1; }
  </script>   
</body>

</html>